 h1{
            color:blue;
        }
        p{
            font-family: tahoma;
        }
        b{
            color:darkgoldenrod;
        }
        i{
            color:skyblue;
        }