* {
    font-family: tahoma;
}
h1{
    font-size:30px;
}
h2.artikel {    /* atau bisa pake .artikel */
    font-size: 20px; 
}
.credit {
    font-size: 12px;
}
.penulis {
    color: darkblue;
}
.tanggal {
    color: darkolivegreen;
}
#artikel-1 {
    color: darkgoldenrod;
}