.box1 {
    height: 100px;
    width: 300px;
    background-color: antiquewhite;
}

div.box1 p{
    height: 80%;
    width: 80%;
    background-color: rgb(121, 95, 63);
}

.box2 {
    height: 200px;
    width: 300px;
    background-color:aqua;
}

.box3 {
    height: 200px;
    width: 300px;
    background-color: darkorange;
    overflow: scroll;

}